*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
  }
  @media (max-width:650px) {
    header{
      flex-wrap: wrap;
      justify-content: center;
    }
  }
.logo{
  height: 2em;
  margin-left: 10px;
}
header nav a{
  text-decoration: none;
  color: #131212;
  font-size: .8em;
  margin-right: 50px;
  transition: .7s ease;
}
header nav a:hover{
  padding:5px 10px;
  border-radius: 20px;
  background: #2B6CCF;
  color: white;
}
 @media(max-width:800px){
   header nav a{
     font-size: .7rem;
   }
   header{
     height: 90px;
   }

 }
@media(max-width:218px){
  header nav a{
    font-size: .5rem;
  }}

 .profile{
   display: flex;
   align-items: center;
   justify-content: flex-start;
 }
.profile img{
  width: 20%;
  border-radius: 150px;
}
.profile p{
  padding: 0px 15px;
  font-weight: bold;
  color:white;
  font-size: .8rem;
}
@media(min-width:800px){
  .profile p{
    padding: 0 50px;
  }
}
.content{
  display: flex;
  height: calc(100vh - 40px);
  overflow-y: auto;
  width:100%;
  justify-content: space-between;
}
aside{
  min-height: 100vh;
  width: 25%;
  background: #2B6CCF;
  position: absolute;
}

.content aside nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  padding-right: 15px;
}
.top{
  background: #134074;
  margin: 10px 0px;
}
.content aside nav a{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: white;
  font-size: .7rem;
  transition: .8s ease;
}
.content aside nav a:hover{
  background: #134074;
}
aside nav a span{
  margin-left: 24px;
  font-size: .7rem;
  font-weight: 400;

}
hr{
  color: white;
  background: white;
  border-radius: 50px;
  margin: 10px 0;
}

main{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  padding: 35px 200px;
}
main img{
  width: 70%;
  border-radius: 15px;
  margin-left: 20px;
}
@media(min-width:800px){
  main img{
    width: 30%;
  }
}
.main{
  display: flex;
  align-items: space;
   justify-content: space-around;
  flex-direction: column;
}

table{

width: 100%;
height: 100%;
border-collapse:collapse;
margin-top:15px;
border-color: solid grey;
background-color: rgba(27, 26, 30, 20%);
}

td,tr,th{
  border:2px solid grey;
  border-collapse:collapse;
}
th{background-color: #2B6CCF;
border-color:solid black;}

.data{
  box-shadow: 0px 0px 10px rgb(116, 116, 116);
  border-radius: 10px;
  width: auto;
}
.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content:center ;
  align-items: center;
  width: 100%;
  margin: 10px;
}
label{
  margin: 5px;
}
 i{
  font-size: 1rem;
  margin-left: 5px;
}
td,th{
  display: table-cell;
}

*, *:before, *:after {
  box-sizing: inherit;
}
table {
  width: 100%;
  display: table;
}